.layout {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    max-width: 1600px;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .layout {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media screen and (min-width: 1024px) {
    .layout {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (min-width: 1280px) {
    .layout {
        padding-left: 32px;
        padding-right: 32px;
    }
}
